@using Class64Homework.Data;
@using Class64Homework.Web.Models;

@model JobsModelView

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h3>Logged in as user @Model.CurrentUserId</h3>
        <input id="user-id" type="hidden" value="@Model.CurrentUserId" />
        <input id="job-title" type="text" placeholder="Job Title" class="form-control" />
        <br />
        <button id="add-job" style="width:100%" class="btn btn-info">Add Job</button>
        <br />
        <br />
        <table id="job-table" class="table table-bordered">
            <tr>
                <th>Title</th>
                <th>Status</th>
            </tr>
            @foreach (Job j in Model.Jobs)
            {
                <tr>
                    <td>@j.Title</td>
                    <td>
                        <button id="job-open-@j.Id"
                                style="display:@(j.JobStatus == JobStatus.Open?"":"none")"
                                class="btn btn-success job-open"
                                data-id="@j.Id">
                            Do this job
                        </button>
                        <button id="job-in-use-by-me-@j.Id"
                                style="display:@(j.User != null && j.JobStatus == JobStatus.BeingWorkedOn && Model.CurrentUserId == j.UserId?"":"none")"
                                class="btn btn-info job-in-use-by-me"
                                data-id="@j.Id">
                            Job done!
                        </button>
                        <button id="job-in-use-@j.Id"
                                style="display:@(j.User != null && j.JobStatus == JobStatus.BeingWorkedOn && Model.CurrentUserId != j.UserId?"":"none")"
                                disabled="@(j.User != null && j.JobStatus == JobStatus.BeingWorkedOn && Model.CurrentUserId != j.UserId?"disabled":"")"
                                class="btn btn-warning job-in-use"
                                data-id="@j.Id">
                            @if (j.User != null)
                            {
                                @:@j.User.FirstName @j.User.LastName is working on this
                            }
                        </button>
                        <label id="job-done-@j.Id"
                               style="display:@(j.User != null && j.JobStatus == JobStatus.Done?"":"none")"
                               class="label label-default job-done"
                               data-id="@j.Id">
                            @if (j.User != null)
                            {
                                @:This has been completed by @j.User.FirstName @j.User.LastName
                            }
                        </label>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js"></script>
    <script src="~/js/index.js"></script>
}